# =================================================================
#                             API Creds
# =================================================================
# To get:
# 1. Create an access token using the "Quick Start" steps here: https://api.ynab.com/
# 2. Paste the token here
YNAB_TOKEN="TODO" # Should be a string like abcXXX-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX123

# To get:
# 1. Create a developer account on https://dashboard.pluggy.ai/
# 2. Create a new 'Application'
# 3. Copy/paste the Client ID and Client Secret here
PLUGGY_CLIENT_ID="TODO"  # UUID, like abcXXXXX-XXXX-XXXX-XXXX-XXXXXXXXX123
PLUGGY_CLIENT_SECRET="TODO" # UUID, like abcXXXXX-XXXX-XXXX-XXXX-XXXXXXXXX123

# =================================================================
#                           Bank Accounts
# =================================================================
# Can be whatever you please; only used for display in the logs
ACCOUNT_0_NAME="TODO"

# You can get this by...
# 1. Opening https://meu.pluggy.ai/
# 2. Connecting the accounts you'd like to access
# 3. Opening your browser's devtools
# 4. Clicking on the account
# 5. Looking at the 'Network' tab, where you should see a request like: https://my-api.pluggy.ai/transactions?accountId=abcXXXXX-XXXX-XXXX-XXXX-XXXXXXXXX123
#
# !!IMPORTANT!! you must link your MyPluggy account (meu.pluggy.ai, where you manage bank accounts) to the developer portal account (dashboard.pluggy.ai) for transactions
# to start appearing! You can do this by following the steps here: https://github.com/pluggyai/meu-pluggy?tab=readme-ov-file#connecting-your-bank-account-to-meupluggy
#
# NOTE: You might have multiple accounts at a given bank; you'll need to create separate ACCOUNT_X_XXXXX vars in this file for each!
ACCOUNT_0_PLUGGY_ID="TODO"  # Should be a UUID like 7cfXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXX9b

# You can get this by..
# 1. Opening https://app.ynab.com/ in your browser
# 2. Selecting the account from the left sidebar
# 3. Inspecting the URL, which should have something like: https://app.ynab.com/AAAAAAAA-AAAA-AAAA-AAAA-AAAAAAAAAAAA/accounts/BBBBBBBB-BBBB-BBBB-BBBB-BBBBBBBBBBBB
# 4. Copy the AAAAAAAA-AAAA-AAAA-AAAA-AAAAAAAAAAAA here
ACCOUNT_0_YNAB_BUDGET_ID="TODO" # Should be a UUID like 7cfXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXX9b

# You can get this by..
# 1. Opening https://app.ynab.com/ in your browser
# 2. Selecting the account from the left sidebar
# 3. Inspecting the URL, which should have something like: https://app.ynab.com/AAAAAAAA-AAAA-AAAA-AAAA-AAAAAAAAAAAA/accounts/BBBBBBBB-BBBB-BBBB-BBBB-BBBBBBBBBBBB
# 4. Copy the BBBBBBBB-BBBB-BBBB-BBBB-BBBBBBBBBBBB here
ACCOUNT_0_YNAB_ID="TODO" # Should be a UUID like 7cfXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXX9b



# ...can add more accounts here with ACCOUNT_1_NAME, ACCOUNT_1_PLUGGY_ID, etc....
