# To get:
# 1. Create an access token using the "Quick Start" steps here: https://api.ynab.com/
# 2. Paste the token here
YNAB_TOKEN=TODO # Should be a string like abcXXX-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX123

# To get:
# 1. Create an account on pluggy.ai
# 2. Create a new 'Application'
# 3. Copy/paste the Client ID and Client Secret here
PLUGGY_CLIENT_ID=TODO  # UUID, like abcXXXXX-XXXX-XXXX-XXXX-XXXXXXXXX123
PLUGGY_CLIENT_SECRET=TODO # UUID, like abcXXXXX-XXXX-XXXX-XXXX-XXXXXXXXX123

# Shouldn't need to change
ACCT_CONFIG_FILEPATH=accounts.yml
