[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-decouple = "*"
requests = "*"
python-dateutil = "*"
ynab-sdk = "*"
pynubank = "==2.21.0"

[dev-packages]
ipdb = "*"
darker = "*"
freezegun = "*"
pytest = "*"
pytest-cov = "*"
requests-mock = "*"

[requires]
python_version = "3.9"
